






/*HEAD*/

#headerimg{
    height: 400px;
    width: 100%;
    margin: 0 auto;
}


.navbar{
    margin-top: 3px;
    background-color: #000;
    border-radius: 1.5rem;
}


/*BODY*/


body{
    background-color: #000;
    
}


ul{
    margin-top: 3px;
    font-size: 20px;
    
}
h1{
    font-family: 'Doppio One' , sans-serif;
    color: #fff;
    margin-bottom: 3rem;
}

h4{
    font-family: 'Doppio One', sans-serif;
    color: #fff;
    Font-size: 26px;
    
}

h3{
    font-family: 'Doppio One' , sans-serif;
    color: #fff;
}

h2{
    
 color: #dbb23e;    
}

#h4stand{
        
    font-family: 'Abel' , sans-serif;
    color: #dbb23e;
    
}

p{
        font-family: 'Doppio One', sans-serif;

 font-size: 18px; 
line-height: 25px;
    color: #676767;
}

.control-label{
    color: #c7c7c7;
}







/*TABLE*/

table{
    background-color: #000;
}
tr{
        color: #fff;

}

tr:hover{
    color: #fff;
background-color: #dbb23e;
}


.thumbnail{
    background-color: #000;
    color: #fff;
    border-radius: 1.5rem;
    opacity: .4;
}

.thumbnail p,h3{
    text-align: center;
    opacity: 0;
    padding-bottom: .5rem;
}



/*THUMBNAIL ANIMATION HOME*/


/*1*/

#thumb1:hover{
     transition: all 0.2s linear;
    opacity: 1;
    transform: scale(1.02);
}

#thumb1:hover p,h3{
        transition: all 0.2s linear;
    opacity: 1;
    transform: scale(1.02);
}

/*2*/


#thumb2:hover{
     transition: all 0.2s linear;
    opacity: 1;
    transform: scale(1.02);
}

#thumb2:hover p,h3{
        transition: all 0.2s linear;
    opacity: 1;
    transform: scale(1.02);
}

/*3*/

#thumb3:hover{
     transition: all 0.2s linear;
    opacity: 1;
    transform: scale(1.02);
}

#thumb3:hover p,h3{
        transition: all 0.2s linear;
    opacity: 1;
    transform: scale(1.02);
    
}


/*LOCATION ANIMATION*/

#map:hover{
    
    transition: all 0.3s linear;
    opacity: 1;
    transform: scale(1.05);
}
#static:hover{
    
    transition: all 0.3s linear;
    opacity: 1;
    transform: scale(1.05);
}



/*BUTTONS*/


.btn{
background-color: #dbb23e;
border: #000;
}
.btn:hover{
background-color: #c7c7c7;

}





.input-xlarge{
    width:65%;
}

form{
    border-radius: 2.5rem;
    padding: 8px;
    background-color: #000;
    margin-bottom: 10rem;
}




/*FOOTER*/

#footer{
    background-color: #000;
    color: #dbb23e;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    padding-top: 2rem;
    text-align: center;
    bottom:0 ;
}

#footer p{
        color: #dbb23e;
        text-align: center;


}

#footerreg{
    width: 0 auto;
      position: absolute;
    bottom: 0;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    padding-top: 3rem;
    text-align: center;
    
           

}

#footerreg p{
            color: #dbb23e;

}